<h3><i class="fas fa-book-reader"></i>{{ i18n "AppName"}}</h3>
<div class="section">
    <p class="lead">{{ i18n "AppSubTitle" }}</p>
</div>
<div class="divider"></div>
<div class="section">
    <a href="/auth/google" class="btn red darken-1">
        <i class="fab fa-google left"></i> {{ i18n "ConnectWithGoogle" }}
    </a>
</div>