<h3>Add Batch</h3>
<div class="row">
    <form action="/batches" method="POST" class="col s12">
        <div class="row">
            <div class="input-field">
                <input type="text" id="name" name="name" >
                <label for="name">Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field">
                <select id="typeOfBatchSelect" name="type">
                    <option value="Chicken" selected>Chicken</option>
                </select>
                <label for="type">Type</label>
            </div>
        </div>

        <div class="row">
            <input type="submit" value="Save" class="btn">
            <a href="/dashboard" class="btn orange" style="margin-bottom: 0px">Cancel</a>
        </div>
    </form>
</div>